{{#each this}}
<h1 class="country_name">{{name}}</h1>
<div class="flex_box">
    <div>
        <p class="country_info">Capital: {{capital}}</p>
        <p class="country_info">Population: {{population}}</p>
        <h2 class="country_info__title">Languages:</h2>
        <ul class="country_info">
            <h2>Languages:</h2>
            {{#each Languages}}
            <li class="country_language">{{name}}</li>
            {{/each}}
        </ul>

    </div>
    <div class="image">
        <img class="country_flag" src="{{flag}}" alt="flag" width="300">
    </div>
</div>
{{/each}}