

<div class="render">
    <div class="render__cont">
        <h2>{{name}}</h2>
        <h3>Capital: {{capital}}</h3>
        <h3>Population: {{population}}</h3>
        <h3>Languages</h3>
        <ul style="padding: 0;">
            {{#each languages}}
            <li class="padding">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="render__img">
        <img src="{{flag}}" alt="{{name}}" width="200" height="100">
    </div>
</div>
